html {
  /*font-family: "Lucida Sans", sans-serif;*/
  font: italic small-caps bold 16px/2 cursive;
}

.header {
  background-color: antiquewhite;
  color: black;
  padding: 15px;
  text-align: center;
}
.leftSide {
  background-color: #a9a9a9;
  color: white;
}
.myImg {
  border-radius: 50%;
}
.leftSide h1 {
  text-align: center;
}
.leftSide h6 {
  text-align: center;
  letter-spacing: 5px;
}
.title {
  border: 2px solid #a9a9a9;
  border-radius: 5px;
  background-color: antiquewhite;
  color: dimgray;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  box-sizing: border-box;
  font-size: 18px;
}
.leftSide span {
  padding: 5px;
  font: italic small-caps bold 16px/2 cursive;
  font-size: 15px;
}
.leftSide ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.leftSide li {
  padding: 8px;
  margin-bottom: 7px;
  color: #ffffff;
}
.rightSide span {
  font-size: 30px;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: antiquewhite;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.rightSide button {
  border: 2px solid black;
  border-radius: 5px;
  background-color: antiquewhite;
  color: dimgray;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  box-sizing: border-box;
}
.modal-header {
  padding: 2px 16px;
  background-color: black;
  color: white;
}
.mySlides {
  display: none;
}
/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
  margin-top: 30px;
}
.text {
  color: black;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
}
/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.print {
  margin-top: 50px;
}
#printButton {
  border: 2px solid black;
  border-radius: 5px;
  background-color: antiquewhite;
  color: dimgray;
  margin: auto;
  text-align: center;
  box-sizing: border-box;
  font-size: 20px;
}
